.botaoIntroducao{
    color: #7127BA;
    background-color: aliceblue;
    text-decoration: none;
}

.container-introducao-master {
    margin-top: 50px;
    margin-bottom: 100px;

}

/* containerNome */
.containerNome {
    display: flex;
    justify-content: center;
    margin-left: -200px;
}

.seta {
    width: 100px;
}

.cor-roxa {
    color: #7127BA;
}

/* container-introducao */
.container-introducao {
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: -120px;
}

.perfil {
    border-radius: 50%;
    margin-top: 110px;
    box-shadow: 0 0 20px 10px rgba(162, 67, 206, 0.8);
    width: 19%;
}

.frase {
    text-align: left;
    margin-top: 100px;
}

.fraseInspiradora1 {
    font-size: 17px;
}

.fraseInspiradora {
    font-size: 45px;
}

.container-profissao {
    margin-top: 100px;
}

.profissao-introducao {
    text-align: center;
    font-size: 25px;
    color: #7127BA;
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.3);
    background-color: aliceblue;
    width: 40%;
    padding: 10px;
    margin: auto;
    border-radius: 50px;
}

@media (max-width: 839px) {
    .container-introducao {
        flex-direction: column;
    }

    .containerNome {
        margin: auto;
        margin-top: 50px;
        margin-left: 150px;
    }

    .frase {
        margin-top: -10px;
    }
}

@media (max-width: 412px) {
    .perfil {
        width: 200px;
    }

    .seta {
        width: 50px;
    }

    .cor-roxa {
        color: #7127BA;
    }

    h3 {
        font-size: 15px;
        text-align: center;
    }

    .containerNome {
        justify-content: center;
        width: 200px;
        margin-bottom: 20px;
        margin-left: 170px;
    }

    .frase {
        text-align: left;
        margin-top: 10px;
        width: 80%;
    }

    .fraseInspiradora1 {
        font-size: 10px;
    }

    .fraseInspiradora {
        font-size: 20px;
    }

    .container-profissao {
        margin-top: 50px;
    }

    .profissao-introducao {
        font-size: 15px;
        width: 50%;
    }
}