.titulo {
  text-align: center;
}

.icones-tecnologias {
  margin-left: 35%;
}

.imagem {
  width: 65px;
  margin: 20px;
  transition: all 0.3s ease;
}

.imagem:hover {
  transform: scale(1.2);
}

.frase-objetivo {
  width: 80%;
  text-align: center;
  margin: auto;
}

.container-tecnologias {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .icones-tecnologias {
    margin-left: 15%;
  }

  .imagem {
    width: 50px;
  }

  .frase-objetivo {
    width: 80%;
  }
}

@media screen and (max-width: 412px) {
  .icones-tecnologias {
    margin-left: 5%;
    font-size: 11px;
  }

  .imagem {
    width: 40px;
  }

  .frase-objetivo {
    text-align: justify;
    font-size: 15px;
  }
}
