.containerHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 30px;
  background-color: #1a0b2e;
}

.logo a {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}

.menu-principal ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 25px;
  align-items: center;
  text-align: center;
}

.buttonHeader {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  padding: 8px 12px;
  border-radius: 10px;
  transition: all 0.3s ease;
  font-weight: bold;
}

.buttonHeader:hover {
  color: #1a0b2e;
  background-color: #ffffff;
  transform: scale(1.1);
}

@media (max-width: 465px) {
  .logo a {
    font-size: 14px;
  }
  .buttonHeader {
    font-size: 12px;
  }
}

@media (max-width: 374px) {
  .buttonHeader {
    font-size: 11px;
  }
}
