.footerHome {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 40px;
}

.textoFooter-titulo {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 35px;
}

.textoFooter {
    text-align: justify;
    font-size: 20px;
}

.texto-email {
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 20px;
}

.texto-redes-sociais {
    font-size: 17px;
}

.img-footer {
    width: 50px;
    transition: all 0.3s ease;
    border-radius: 10px;

}

.img-footer:hover {
    transform: scale(1.2);
    border-radius: 10px;

}

.linkImagem {
    margin-right: 20px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .footerHome {
        width: 80%;
    }

}

@media screen and (max-width: 412px) {
    .textoFooter-titulo {
        font-size: 25px;
    }

    .textoFooter {
        font-size: 15px;
        margin-top: 20px;
    }

    .texto-email {
        font-size: 15px;
    }

    .texto-redes-sociais {
        font-size: 17px;
    }
}