@font-face {
    font-family: Preahvihear;
    src: url('./fonts/Preahvihear-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    background-color: #11071F;
    font-family: Preahvihear;
    color: #fff;
}

.buttonVejaMais {
    text-decoration: none;
}